@import 'mixins';
@import 'teams';
@import 'keys';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-family: $mainfont;
  color: $navy;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerfont;
  color: $orange;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 980px;
    min-height: 75vh;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/************* ANGULAR.JS Cloak directive **/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/************* USER STYLES *****************/

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

.navbar-default {
  background-color: $navy;
  border-color: $navy;
  .navbar-header {
    .navbar-toggle {
      background-color: $orange;
      border-color: $navy;
      color: $navy;
      .icon-bar {
        background-color: $navy;
      }
      &:focus, &:hover {
        background-color: $orange;
      }
    }
    .navbar-brand {
      color: $orange;
      font-family: $aufont;
      font-size: 2em;
      font-weight: 900;
    }
  }
  .navbar-nav {
    & > li > a {
      color: $orange;
      font-size: 1.15em;
      &:hover, &:focus {
        color: #f8f8f8;
        cursor: pointer;
      }
    }
    & > .active > a {
      background-color: $orange;
      color: white;
      &:hover, &:focus {
        background-color: $orange;
      }
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $navy;
  color: white;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: white;
  border-bottom-color: white;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: white;
  border-bottom-color: white;
}

.container.main-container {
  width: 95%;
  max-width: none;
  .container {
    width: auto;
    max-width: 1100px;
  }
}

.container {
  min-height: 75vh;
}

.rec-year-dropdown {
  max-width: 165px;
  margin: 0 auto;
  a {
    &:hover {
      cursor: pointer;
    }
  }
}

.btn.btn-au {
  background-color: $orange;
  color: $navy;
}

.jumbotron {
  p {
    text-align: left;
    @include breakpoint(pequeno) {
      font-size: 16px;
    }
    &.align-center {
      text-align: center;
    }
    &.lead {
      color: $navy;
    }
  }
}

.player-group {
  max-width: 15em;
  min-height: 8em;
  background-color: #F0F0F0;
  margin: 0 auto 1em auto;
  padding: 0.25em 0;
  border-radius: 0.5em;
  h4 {
    border-bottom: 1px solid #CCC;
    width: auto;
    max-width: 2em;
    margin: 0 auto 0.4em auto;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
  }
  p {
    margin-bottom: 0.15em;
  }
  a {
    color: $navy;
    cursor: pointer;
  }
  &.player-group-d {
    h4 {
      color: $navy;
    }
    p, a {
      color: $orange;
    }
  }
  @include breakpoint(pequeno) {
    max-width: none;
    background: none;
  }
}

#recruit-table {
  thead {
    tr {
      th {
        color: $orange;
        a {
          color: $orange;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

#playerModal {
  h3, h4, h5, p {
    color: $navy;
  }
}

.glyphicon.glyphicon-remove.highlight {
  color: red;
}

.glyphicon.glyphicon-ok.highlight {
  color: green;
}

.table > tbody > tr > td.attend-td {
  padding: 0.45em 0 0 0;
  button {
    height: 2em;
    width: 7em;
    color: $navy;
    &:active, &.yes {
      background-color: $orange;
      color: #fafafa;
    }
  }
}

.navbar-default .navbar-nav > li.checkin-button-li {
  padding-top: 0.4em;
  > a {
    padding: 0.5em;
    width: 4em;
    color: white;
    box-sizing: border-box;
    &:hover, &:focus {
      background: lighten($orange, 5%);
    }
    span.glyphicon {
      color: white;
    }
  }
}

.yearLabel {
  display: block;
  font-size: 1.5em;
}

#yearpicker-ss {
  margin-bottom: 1em;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 10px;
  margin-top: 7px;
  font-size: 1.25em;
}

.select2-container .select2-choice {
  height: 40px;
}

.select2-container, .select2-drop {
  width: 75%;
}

.select2-container-multi .select2-choices {
  min-height: 40px;
}

.select2-container-multi .select2-choices .select2-search-field input {
  margin: 4px 0;
}

.select2-search, .select2-search input {
  width: 100%;
}

.select2-results .select2-result-label {
  text-align: center;
  font-size: 1.5em;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

h1 {
  .header-list-team {
    font-size: 0.5em;
    margin: 0.2em;
  }
}

.row.depth {
  // .col-
}

.win {
  color: $navy;
}

.loss {
  color: $orange;
}

.tie {
  color: #777;
}

#map-canvas { height: 400px; }

@include breakpoint(tablebreakdown) {
  .jumbotron {
    padding: 1em 1em 2em 1em;
    background: none;
    h1 {
      margin-top: 0;
    }
  }
  .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    &.main-container { width: 100%; }
    &.stat-page-container {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 1em;
    }
  }
  .page-header { margin-top: 0; }
}

@include breakpoint(pequeno) {
  .attended {
    background: #EDFF91;
    font-weight: bold;
  }
}

// Loading indicator
.loading:before {
  content: '';
  position: absolute;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-right: solid 4px $navy;
  border-top: solid 4px $orange;
  background: $navy;
  box-shadow: 0 0 0 5px $navy;
  animation: spin 1s linear infinite;
}
@keyframes spin
{
0% {
  transform: rotate(0deg);
  }
50% {
  transform: rotate(180deg);
  }
100% {
  transform: rotate(360deg);
  }
}

.loader {
  z-index: 99999;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  // visibility: hidden;
  top: 0;
  left: 0;
}

ul.checklist {
  list-style-type: none;
  position: relative;
  z-index: 1;
  text-align: left;
  padding: 0;
  li.item {
    list-style-type: none;
    position: relative;
    padding: 1em;
    width: 100%;
    background: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 1;
    label {
      background: white;
      color: #002649;
      position: absolute;
      top: 0;
      padding: 1em 1em 1em 3em;
      box-sizing: border-box;
      left: 0;
      float: right;
      width: 100%;
      height: 100%;
      z-index: -1;
      &:hover {
        cursor: pointer;
      }
    }
    input {
      z-index: 2;
    }
    input[type=checkbox]:checked + label {
      background: lighten($orange, 10%);
    }
    input[type=checkbox]:checked + label:before {  
      content: "\2713";
      position: absolute;
      text-shadow: 1px 1px 1px white;
      font-size: 16px;
      width: 1.2em;
      height: 1.2em;
      top: 16px;
      left: 15px;
      color: white;
      border-radius: 0.7em;
      background: #002649;
      text-align: center;
      line-height: 15px; 
    }
    input[type=checkbox] {
      visibility: hidden;
      &:before {
        content: '';
        position: absolute;
        visibility: visible;
        top: 1em;
        left: 1em;
        background: transparent;
        width: 1.5em;
        height: 1.5em;
        border: 2px solid #002649;
        border-radius: 0.8em;
      }
    }
  }
  ul.group {
    padding: 0;
  }
  li.header.item {
    padding: 1em;
    background: #0c2157;
    border: 1px solid black;
    p {
      margin: 0;
      color: #F46507;
      font-weight: bolder;
    }
  }
}

.scrollBox {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.modal-dialog.big-modal {
  width: 95%;
  .modal-td-pic {
    width: auto;
    height: auto;
  }
}

.modal-dialog.med-modal {
  width: 75%;
}

#yearly-table {
  tr {
    &:focus {
      background-color: rgb(147, 218, 245);
    }
  }
}

#theCode {
  background: $navy;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 0.25em;
  display: none;
  font-size: 1.5em;
  border-radius: 5px;
  span {
    margin: 0.25em;
  }
  .active {
    color: $orange;
  }
}

// HELPER CLASSES
.font-small {
  font-size: 0.5em;
}

.bold {
  font-weight: bolder;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.center {
  margin: 0 auto;
}

.no-float {
  float: none;
}

.pad-bottom-1em {
  padding-bottom: 1em;
}

.pad-mobile {
  @include breakpoint(pequeno) {
    padding: 1em;
  }
}

.pad-top-mobile {
  @include breakpoint(pequeno) {
    padding-top: 1em;
  }
}

.top-3px {
  top: 3px;
}

.top-2px {
  top: 2px;
}

.upper {
  text-transform: uppercase;
}