div(ng-if='authorized').container
  .page-header.align-center
    h1 Admin

  .row.pad-mobile
    .col-sm-12
      h2 Advance Players:
      button.btn.btn-primary(ng-click='advancePlayers()' disabled="disabled") Advance

  .row.pad-mobile
    .col-sm-12
      h2 Enroll Early Recruits:
      button.btn.btn-primary(ng-click='enrollRecruits(true)') Enroll

  .row.pad-mobile
    .col-sm-12
      h2 Enroll All Recruits:
      button.btn.btn-primary(ng-click='enrollRecruits()') Enroll

  .row.pad-mobile
    hr

  .row.pad-mobile
    .col-sm-12
      h2 Edit Depth Chart

    .row
      .col-md-12.align-center
        h2.upper Offense

    div(ng-cloak).row.depth
      .col-md-4.align-center
        #fb.player-group.player-group-o
          h4 FB
          div(ng-repeat='player in players.FB')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-4.align-center
        #qb.player-group.player-group-o
          h4 QB
          div(ng-repeat='player in players.QB')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-4.align-center
        #rb.player-group.player-group-o
          h4 RB
          div(ng-repeat='player in players.RB')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}

    .row.depth
      .col-md-2.align-center
        #wr-9.player-group.player-group-o
          h4 WR
          div(ng-repeat='player in players.WR9')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-2.align-center
        #wr-slot.player-group.player-group-o
          h4 WR
          div(ng-repeat='player in players.Slot')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-2
      .col-md-2
      .col-md-2.align-center
        #te.player-group.player-group-o
          h4 TE
          div(ng-repeat='player in players.TE')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-2.align-center
        #wr-2.player-group.player-group-o
          h4 WR
          div(ng-repeat='player in players.WR2')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}

    .row.depth
      .col-md-3.align-center
        #rt.player-group.player-group-o
          h4 RT
          div(ng-repeat='player in players.RT')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-2.align-center
        #rg.player-group.player-group-o
          h4 RG
          div(ng-repeat='player in players.RG')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-2.align-center
        #c.player-group.player-group-o
          h4 C
          div(ng-repeat='player in players.C')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-2.align-center
        #lg.player-group.player-group-o
          h4 LG
          div(ng-repeat='player in players.LG')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-3.align-center
        #lt.player-group.player-group-o
          h4 LT
          div(ng-repeat='player in players.LT')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}

    .row
      .col-md-12.align-center
        h2.upper Defense
    div(ng-cloak).row.depth
      .col-md-3.align-center
        #wde.player-group.player-group-d
          h4 DE
          div(ng-repeat='player in players.WDE')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-3.align-center
        #dt.player-group.player-group-d
          h4 DT
          div(ng-repeat='player in players.DT')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-3.align-center
        #ng.player-group.player-group-d
          h4 DT
          div(ng-repeat='player in players.NG')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-3.align-center
        #sde.player-group.player-group-d
          h4 DE
          div(ng-repeat='player in players.SDE')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}

    .row.depth
      .col-md-4.align-center
        #wlb.player-group.player-group-d
          h4 WLB
          div(ng-repeat='player in players.WLB')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-4.align-center
        #mlb.player-group.player-group-d
          h4 MLB
          div(ng-repeat='player in players.MLB')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-4.align-center
        #star.player-group.player-group-d
          h4 SLB
          div(ng-repeat='player in players.SLB')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}

    .row.depth
      .col-md-3.align-center
        #lcb.player-group.player-group-d
          h4 CB
          div(ng-repeat='player in players.LCB')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-3.align-center
        #fs.player-group.player-group-d
          h4 S
          div(ng-repeat='player in players.FS')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-3.align-center
        #ss.player-group.player-group-d
          h4 S
          div(ng-repeat='player in players.SS')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
      .col-md-3.align-center
        #rcb.player-group.player-group-d
          h4 CB
          div(ng-repeat='player in players.RCB')
            p(ng-if='player.retstart === 0', draggon, data-player-info='{{player}}')
              a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}
            p(ng-if='player.retstart === 1', draggon, data-player-info='{{player}}')
              strong
                a(data-target='#playerModal', ng-click='showPlayerInfo(player)') {{player.num}} - {{player.forename}} {{player.surname}} - {{player.year}}

  .row.pad-mobile
    .col-sm-12
      h2 Edit Schedule
      .row
        select(ng-model='scheduleYear', data-placeholder='Select Year', ui-select2, ng-change='setScheduleYear(scheduleYear)')#yearpicker
            option(value="")
            option(ng-cloak, ng-repeat='y in scheduleYears' value='{{y}}') {{y}}
      .row
        div(ui-grid="gameGridOptions", ui-grid-edit, ui-grid-cellNav)
      .row.pad-mobile
        button.btn.btn-success(ng-click="addGame()") Add Game

  .row.pad-mobile
    .col-sm-12
      h2 Edit Recruits
      .row
        select(ng-model='recruitsYear', data-placeholder='Select Class', ui-select2, ng-change='setRecruitsYear(recruitsYear)')#rec-yearpicker
            option(value="")
            option(ng-cloak, ng-repeat='y in recruitsYears' value='{{y}}') {{y}}
      .row
        div(ui-grid="recruitsGridOptions", ui-grid-edit, ui-grid-cellNav)
      .row.pad-mobile
        button.btn.btn-success(ng-click="addRecruit()") Add Recruit
