.container
  .jumbotron
    h1 Welcome to AUDB!

    p.lead
      | This site was created to provide Auburn football fans with a quick way to look up
      | all-time win/loss records, recruiting info, and the depth chart (with more features
      | coming soon). All of that information can be accessed without registering for an account.
      | If you do choose to register, you'll get the added benefit of tracking your attendance at
      | Auburn games and seeing what your lifetime record is. For games in the past, you can click
      | on the "Attended" button on the year-by-year page to register your attendance. And for
      | games from here on out, there's a handy checkin function you can use.
    p
      | So make yourself at home, and if the attendance tracking feature appeals to you, 
      | go ahead and sign up. It's free, and we'll only send you one welcome email and nothing more.
      
    p War Eagle, and enjoy the site!

    p.align-center
      buttn.btn.btn-lg.btn-success Sign Up

.footer.align-center
    img(src='/images/eagle-2.png', height='50px', width='auto')
    h3 WAR EAGLE