div(ng-if='!currentUser').container
  .jumbotron
    h1 Welcome to AUDB!

    p.lead
      | This site was created to provide Auburn football fans with a quick way to look up
      | all-time win/loss records, recruiting info, and the depth chart (with more features
      | coming soon). All of that information can be accessed without registering for an account.
      | If you do choose to register, you'll get the added benefit of tracking your attendance at
      | Auburn games and seeing what your lifetime record is. For games in the past, you can click
      | on the "Attended" button on the year-by-year page to register your attendance. And for
      | games from here on out, there's a handy checkin function you can use.
    p
      | So make yourself at home, and if the attendance tracking feature appeals to you, 
      | go ahead and sign up. It's free, and we'll only send you one welcome email and nothing more.
      
    p War Eagle, and enjoy the site!

    p.align-center
      a(role='button', href='/signup').btn.btn-lg.btn-success Sign Up

div(ng-cloak, ng-if='currentUser').container

  .page-header
    h1.align-center {{user.name}}

  .row
    h4(ng-show='record.t > 0').align-center Games Attended: {{record.w + record.l + record.t}}
    h4(ng-show='record.t === 0').align-center Games Attended: {{record.w + record.l}}
    h4(ng-show='record.t > 0').align-center Record: {{record.w}}-{{record.l}}-{{record.t}} ({{record.secW}}-{{record.secL}}-{{record.secT}})
    h4(ng-show='record.t === 0').align-center Record: {{record.w}}-{{record.l}} ({{record.secW}}-{{record.secL}})
  .row
    .col-md-4.text-center
      h3 Overall Win Loss Pct.
      pie-chart(dimension='winLossDimension', dimension-group='winLossGroup', chart-height='350')
    .col-md-4.text-center
      h3 Home/Away
      pie-chart(dimension='homeAwayDimension', dimension-group='homeAwayGroup', chart-height='350')
    .col-md-4.text-center
      h3 Conference
      pie-chart(dimension='confDimension', dimension-group='confGroup', chart-height='350')
  //- .row
  //-   .col-md-12
  //-   row-chart(dimension='scoreDimension', dimension-group='scoreDimensionGroup',
  //-               chart-scale='scoreChartScale', chart-width='scoreChartWidth',
  //-               colors='["#002649", "#F46507"]')

  hr

  h2.text-center Games

  table.table.table-responsive.table-hover#yearly-table
    thead
      tr
        th Date
        th W/L
        th.hidden-xs
        th Opponent
        th Score
        th.hidden-xs Location
        th.visible-xs Loc
    tbody
      tr(ng-repeat='game in games', id='game-row-{{game._id}}')

        td(ng-if='game.Result === "W"').win {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2] + '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "W"').win {{game.Result}}
        td(ng-if='game.Result === "W"').win.logo-td.hidden-xs
          div(class='logo-{{ getConcatName(game.Opponent) }} small-logo')
        td(ng-if='game.Result === "W"', id='{{game._id + "-opp"}}').win {{game.Opponent}}
        td(ng-if='game.Result === "W"').win {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "W"').win.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "W"').win.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}

        td(ng-if='game.Result === "L"').loss {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2] + '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "L"').loss {{game.Result}}
        td(ng-if='game.Result === "L"').loss.logo-td.hidden-xs
          div(class='logo-{{ getConcatName(game.Opponent) }} small-logo')
        td(ng-if='game.Result === "L"', id='{{game._id + "-opp"}}').loss {{game.Opponent}}
        td(ng-if='game.Result === "L"').loss {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "L"').loss.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "L"').loss.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}

        td(ng-if='game.Result === "T"').tie {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2] + '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "T"').tie {{game.Result}}
        td(ng-if='game.Result === "T"').tie.logo-td.hidden-xs
          div(class='logo-{{ getConcatName(game.Opponent) }} small-logo')
        td(ng-if='game.Result === "T"', id='{{game._id + "-opp"}}').tie {{game.Opponent}}
        td(ng-if='game.Result === "T"').tie {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "T"').tie.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "T"').tie.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}

  h3(ng-show='record.t > 0').align-center Record: {{record.w}}-{{record.l}}-{{record.t}} ({{record.secW}}-{{record.secL}}-{{record.secT}})
  h3(ng-show='record.t === 0').align-center Record: {{record.w}}-{{record.l}} ({{record.secW}}-{{record.secL}})

.footer.align-center
    img(src='/images/eagle-2.png', height='50px', width='auto').eagle-pic
    h3 WAR EAGLE