div(ng-swipe-left='swipeNextYear()', ng-swipe-right='swipePrevYear()').container
  .page-header.align-center
    h1 Auburn Football Recruiting 
    div(ng-cloak, class="dropdown rec-year-dropdown").
      <button class="btn btn-au btn-lg dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown">{{currentClass}}<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="yearDropdown">
        <li ng-repeat="y in recClasses"  role="presentation"><a role="menuitem" tabindex="-1" ng-click="getRecruits(y)">{{y}}</a></li>
      </ul>
    <p ng-if="hasTouch" class="pad-top-mobile" ng-show="isSmallScreen">Swipe left/right to view next/previous year</p>

  table.table.table-responsive.table-hover#recruit-table
    thead
      tr
        th
          a(ng-click='predicate = "[surname, forename]"; reverse=!reverse;') Name
          span(ng-show='predicate == "[surname, forename]" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "[surname, forename]" && reverse').glyphicon.glyphicon-chevron-down
        th
          a(ng-click='predicate = "pos"; reverse=!reverse;') Pos
          span(ng-show='predicate == "pos" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "pos" && reverse').glyphicon.glyphicon-chevron-down
        th
          a(ng-click='predicate = "[state, city, hs, surname, forename]"; reverse=!reverse;') Hometown
          span(ng-show='predicate == "[state, city, hs, surname, forename]" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "[state, city, hs, surname, forename]" && reverse').glyphicon.glyphicon-chevron-down
        th.hidden-xs
          a(ng-click='predicate = "[hs, state, city, hs, surname, forename]"; reverse=!reverse;') High School
          span(ng-show='predicate == "[hs, state, city, hs, surname, forename]" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "[hs, state, city, hs, surname, forename]" && reverse').glyphicon.glyphicon-chevron-down
        th.hidden-xs.align-center
          a(ng-click='predicate = "rivalsstars"; reverse=!reverse;') Rivals
          span(ng-show='predicate == "rivalsstars" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "rivalsstars" && reverse').glyphicon.glyphicon-chevron-down
        th.hidden-xs.align-center
          a(ng-click='predicate = "scoutstars"; reverse=!reverse;') Scout
          span(ng-show='predicate == "scoutstars" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "scoutstars" && reverse').glyphicon.glyphicon-chevron-down
        th.hidden-xs.align-center
          a(ng-click='predicate = "rivalsrank"; reverse=!reverse;') Rivals Rank
          span(ng-show='predicate == "rivalsrank" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "rivalsrank" && reverse').glyphicon.glyphicon-chevron-down
        th.hidden-xs.align-center
          a(ng-click='predicate = "scoutrank"; reverse=!reverse;') Scout Rank
          span(ng-show='predicate == "scoutrank" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "scoutrank" && reverse').glyphicon.glyphicon-chevron-down
        th.visible-xs
          a(ng-click='predicate = "avgstars"; reverse=!reverse;') Stars
          span(ng-show='predicate == "avgstars" && !reverse').glyphicon.glyphicon-chevron-up
          span(ng-show='predicate == "avgstars" && reverse').glyphicon.glyphicon-chevron-down
        th.visible-xs Rank
    tbody(ng-cloak)
      tr(ng-repeat='rec in recruits | orderBy:predicate:reverse')
        td {{rec.forename}} {{rec.surname}}
        td {{rec.pos}}
        td {{rec.city}}, {{rec.state}}
        td.hidden-xs {{rec.hs}}
        td.hidden-xs.align-center {{rec.rivalsstars}} <span class="glyphicon glyphicon-star"></span>
        td.hidden-xs.align-center {{rec.scoutstars}} <span class="glyphicon glyphicon-star"></span>
        td.hidden-xs.align-center {{rec.rivalsrank}}
        td.hidden-xs.align-center {{rec.scoutrank}}
        td.visible-xs {{(rec.scoutstars + rec.rivalsstars) / 2.0 | number:1}}
        td.visible-xs {{(rec.rivalsrank + rec.scoutrank) / 2.0 | number:1}}
  
  div(ng-if='isSmallScreen').pad-mobile
    p
      em
        | * Average rankings and star ratings obtained from Scout.com and Rivals.com

  div(ng-if='currentClass === 2014 && !isSmallScreen').
    <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=207249541368225977933.0004d9a4ae83e4a6f2ec0&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=30.448674,-85.385742&amp;spn=9.08604,14.0625&amp;z=6&amp;output=embed"></iframe><br /><small>View <a href="https://www.google.com/maps/ms?msa=0&amp;msid=207249541368225977933.0004d9a4ae83e4a6f2ec0&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=30.448674,-85.385742&amp;spn=9.08604,14.0625&amp;z=6&amp;source=embed" style="color:#0000FF;text-align:left">2014 Auburn Football Commitments</a> in a larger map</small>
  div(ng-if='currentClass === 2013 && !isSmallScreen').
    <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=207249541368225977933.0004aba5af3c76f24b1db&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=30.448674,-85.385742&amp;spn=18.134523,28.125&amp;z=5&amp;output=embed"></iframe><br /><small>View <a href="https://www.google.com/maps/ms?msa=0&amp;msid=207249541368225977933.0004aba5af3c76f24b1db&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=30.448674,-85.385742&amp;spn=18.134523,28.125&amp;z=5&amp;source=embed" style="color:#0000FF;text-align:left">2013 Auburn Football Commitments</a> in a larger map</small>
  div(ng-if='currentClass === 2012 && !isSmallScreen').
    <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=207249541368225977933.00049a9e19c385c226530&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=33.760882,-92.329102&amp;spn=17.498498,28.125&amp;z=5&amp;output=embed"></iframe><br /><small>View <a href="https://www.google.com/maps/ms?msa=0&amp;msid=207249541368225977933.00049a9e19c385c226530&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=33.760882,-92.329102&amp;spn=17.498498,28.125&amp;z=5&amp;source=embed" style="color:#0000FF;text-align:left">2012 Auburn Football Commitments</a> in a larger map</small>
  div(ng-if='currentClass === 2011 && !isSmallScreen').
    <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=207249541368225977933.00047ec01917c97c4f1c1&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=33.760882,-92.329102&amp;spn=17.498498,28.125&amp;z=5&amp;output=embed"></iframe><br /><small>View <a href="https://www.google.com/maps/ms?msa=0&amp;msid=207249541368225977933.00047ec01917c97c4f1c1&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=33.760882,-92.329102&amp;spn=17.498498,28.125&amp;z=5&amp;source=embed" style="color:#0000FF;text-align:left">2011 Auburn Football Commitments</a> in a larger map</small>

.footer.align-center
    img(src='images/eagle-2.png', height='50px', width='auto')
    h3 WAR EAGLE
script.
  ga('send', 'pageview', {
    'page': '/recruits',
    'title': 'Recruits Page'
  });