.container.stat-page-container
  .page-header.align-center
    h1(ng-hide='selectedTeams.length > 0') Auburn Football All-Time Results
    h1(ng-show='selectedTeams.length == 1') Auburn Football All-Time Results vs. {{selectedTeams[0]}} 
    h1(ng-show='selectedTeams.length > 1') Auburn Football All-Time Results vs.
      div(ng-repeat='t in selectedTeams').header-list-team {{t}}
    button(role='button', ng-show='games.length > 0', ng-click='reset()').btn.btn-au#reset Reset <span class="glyphicon glyphicon-refresh top-2px"></span>

  form(ng-cloak, ng-if='!isSmallScreen')#stat-form
    .row
      .col-sm-8.center.no-float.align-center
        label(for='opp-picker').yearLabel Show me Auburn's games against 
      .col-sm-8.center.no-float.align-center.pad-bottom-1em
        select(ng-model='selectedTeams', data-placeholder='Select Opponent(s)', ui-select2, multiple, autofocus, ng-change='setSelectedTeams(selectedTeams)')#opp-picker
          option(value='ALL-OPP') All Opponents
          optgroup(label='{{c.conference}}', ng-repeat='c in conferences')
            option(value='{{m}}', ng-repeat='m in c.members') {{m}}
          optgroup(label='BCS Conferences')
            option(value='Conf: SEC') SEC
            option(value='Conf: {{c.conference}}', ng-repeat='c in conferences | filter:{bcs:true}') {{c.conference}}
          optgroup(label='FBS Conferences')
            option(value='Conf: {{c.conference}}', ng-repeat='c in conferences | filter:{bcs:false}') {{c.conference}}
          optgroup(label='Only Current Members')
            option(value='Current {{c.conference}}', ng-repeat='c in conferences') Current {{c.conference}}
          optgroup(label='Defunct Conferences')
            option(value='Conf: Big East') Big East
            option(value='Conf: Big 8') Big 8
            option(value='Conf: Big West') Big West
            option(value='Conf: Border') Border Conference
            option(value='Conf: Gulf States') Gulf States Conference
            option(value='Conf: Metro') Metro Conference
            option(value='Conf: MVC') Missouri Valley Conference
            option(value='Conf: SIAA') SIAA
            option(value='Conf: Southern') Southern Conference
            option(value='Conf: SWC') SWC
            option(value='Conf: WAC') WAC
          optgroup(label='FCS')
            option(value='Conf: FCS') FCS

    .row
      .col-sm-8.align-center.center.no-float
        label(for='#start-year').yearLabel From 
      .col-sm-8.align-center.center.no-float.pad-bottom-1em
        select(ng-model='startYear', data-placeholder='Select Year', ui-select2, ng-change='setStart(startYear)')#start-year
          option(value="")
          option(ng-repeat='y in years' value='{{y}}') {{y}}

    .row
      .col-sm-8.align-center.center.no-float
        label(for='#end-year').yearLabel To 
      .col-sm-8.align-center.center.no-float.pad-bottom-1em 
        select(ng-model='endYear', data-placeholder='Select Year', ui-select2, ng-change='setEnd(endYear)')#end-year
          option(value="")
          option(ng-repeat='y in reverseYears' value='{{y}}') {{y}}
    .row.submit-btn
      .col-sm-8.align-center.center.no-float
        button(role='button', ng-click='submitForm()').btn.btn-lg.btn-au Do it <span class="glyphicon glyphicon-circle-arrow-right top-3px"></span>

  form(ng-cloak, ng-if='isSmallScreen')#stat-form
    .row
      .col-sm-8.center.no-float.align-center
        label(for='opp-picker').yearLabel Show me Auburn's games against 
      .col-sm-8.center.no-float.align-center.pad-bottom-1em
        button(role='button', ng-show='selectedTeams.length > 0', ng-click='showSelectTeams()', data-target='#teamSelectModal').btn.btn-md.btn-au
          div(ng-repeat='team in selectedTeams') {{team}}
        button(role='button', ng-hide='selectedTeams.length > 0', ng-click='showSelectTeams()', data-target='#teamSelectModal').btn.btn-md.btn-au Select Teams

    .row
      .col-sm-8.align-center.center.no-float
        label(for='#start-year').yearLabel From 
      .col-sm-8.align-center.center.no-float.pad-bottom-1em
        select(ng-model='startYear', data-placeholder='Select Year', ng-change='setStart(startYear)')#start-year
          option(value="")
          option(ng-repeat='y in years' value='{{y}}') {{y}}

    .row
      .col-sm-8.align-center.center.no-float
        label(for='#end-year').yearLabel To 
      .col-sm-8.align-center.center.no-float.pad-bottom-1em 
        select(ng-model='endYear', data-placeholder='Select Year', ng-change='setEnd(endYear)')#end-year
          option(value="")
          option(ng-repeat='y in reverseYears' value='{{y}}') {{y}}
    .row.submit-btn
      .col-sm-8.align-center.center.no-float
        button(role='button', ng-click='submitForm()').btn.btn-lg.btn-au Do it <span class="glyphicon glyphicon-circle-arrow-right top-3px"></span>
  table(ng-hide='!games.length').table.table-responsive.table-hover#yearly-table
    thead
      tr
        th Date
        th W/L
        th.hidden-xs
        th Opponent
        th Score
        th.hidden-xs Location
        th.hidden-xs Attended?
        th.visible-xs Loc
    tbody(ng-cloak)
      tr(ng-repeat='game in games', id='game-row-{{game._id}}', ng-class='didAttend(game._id) ? "attended" : ""', ng-click='smallScreenAttend(game._id)', tabindex='1')

        td(ng-if='game.Result === "W"').win {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]+ '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "W"').win {{game.Result}}
        td(ng-if='game.Result === "W"').win.logo-td.hidden-xs
          div(class='logo-{{ getConcatName(game.Opponent) }} small-logo')
        td(ng-if='game.Result === "W"', id='{{game._id + "-opp"}}').win {{game.Opponent}}
        td(ng-if='game.Result === "W"').win {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "W"').win.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "W"').win.hidden-xs.attend-td
          button(ng-if='currentUser && (!didAttend(game._id))', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs
            span.glyphicon.glyphicon-minus
          button(ng-if='currentUser && didAttend(game._id)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs.yes
            span.glyphicon.glyphicon-ok
          button(ng-if='!currentUser', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs.disabled
            span.glyphicon.glyphicon-minus
        td(ng-if='game.Result === "W"').win.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}

        td(ng-if='game.Result === "L"').loss {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]+ '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "L"').loss {{game.Result}}
        td(ng-if='game.Result === "L"').loss.logo-td.hidden-xs
          div(class='logo-{{ getConcatName(game.Opponent) }} small-logo')
        td(ng-if='game.Result === "L"', id='{{game._id + "-opp"}}').loss {{game.Opponent}}
        td(ng-if='game.Result === "L"').loss {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "L"').loss.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "L"').loss.hidden-xs.attend-td
          button(ng-if='currentUser && (user.games.indexOf(game) === -1)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs
            span.glyphicon.glyphicon-minus
          button(ng-if='currentUser && (user.games.indexOf(game) !== -1)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs.yes
            span.glyphicon.glyphicon-ok
          button(ng-if='!currentUser', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs.disabled
            span.glyphicon.glyphicon-minus
        td(ng-if='game.Result === "L"').loss.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}

        td(ng-if='game.Result === "T"').tie {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]+ '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "T"').tie {{game.Result}}
        td(ng-if='game.Result === "T"').tie.logo-td.hidden-xs
          div(class='logo-{{ getConcatName(game.Opponent) }} small-logo')
        td(ng-if='game.Result === "T"', id='{{game._id + "-opp"}}').tie {{game.Opponent}}
        td(ng-if='game.Result === "T"').tie {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "T"').tie.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "T"').tie.hidden-xs.attend-td
          button(ng-if='currentUser && (user.games.indexOf(game) === -1)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs
            span.glyphicon.glyphicon-minus
          button(ng-if='currentUser && (user.games.indexOf(game) !== -1)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs.yes
            span.glyphicon.glyphicon-ok
          button(ng-if='!currentUser', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}', tabindex='-1').btn.btn-default.btn-xs.disabled
            span.glyphicon.glyphicon-minus
        td(ng-if='game.Result === "T"').tie.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}
  
  h3(ng-show='record.t > 0 && !noData').align-center Record: {{record.w}}-{{record.l}}-{{record.t}} ({{record.secW}}-{{record.secL}}-{{record.secT}})
  h3(ng-show='record.t === 0 && !noData').align-center Record: {{record.w}}-{{record.l}} ({{record.secW}}-{{record.secL}})

  div(ng-show='noData').align-center
        h3 No Results :(
        button(role='button', ng-click='reset()').btn.btn-au#reset Reset <span class="glyphicon glyphicon-refresh top-2px"></span>


div(class='modal fade', id='teamSelectModal', tabindex='-1', role='dialog', aria-hidden='true', ng-if='isSmallScreen')
    div(class='modal-dialog')
      div(class='modal-content').align-center
        div(class='modal-header')
          button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;
          h3#myModalLabel.modal-title Select Teams
        
        div(class='modal-body').scrollBox
          ul.checklist
            ul(ng-repeat='c in conferences track by $index').group
              li.item.header
                p {{c.conference}}
              li(ng-repeat='m in c.members track by $index').item
                input(type='checkbox', id='team-{{m}}', ng-click='smallScreenSelectTeam(m)')
                label(for='team-{{m}}') {{m}}
            ul.group
              li.item.header
                p BCS Conferences
              li.item
                input(type='checkbox', id='conf-SEC', ng-click='smallScreenSelectTeam("Conf: SEC")')
                label(for='conf-SEC') Conf: SEC
              li(ng-repeat='c in conferences | filter:{bcs:true}').item
                input(type='checkbox', id='conf-{{c.conference}}', ng-click='smallScreenSelectTeam("Conf: " + c.conference)')
                label(for='conf-{{c.conference}}') Conf: {{c.conference}}
            ul.group
              li.item.header
                p FBS Conferences
              li(ng-repeat='c in conferences | filter:{bcs:false}').item
                input(type='checkbox', id='conf-{{c.conference}}', ng-click='smallScreenSelectTeam("Conf: " + c.conference)')
                label(for='conf-{{c.conference}}') Conf: {{c.conference}}
            ul.group
              li.item.header
                p Only Current Members
              li.item
                input(type='checkbox', id='current-SEC', ng-click='smallScreenSelectTeam("Current SEC")')
                label(for='current-SEC') Current SEC
              li(ng-repeat='c in conferences').item
                input(type='checkbox', id='current-{{c.conference}}', ng-click='smallScreenSelectTeam("Current " + c.conference)')
                label(for='current-{{c.conference}}') Current {{c.conference}}
            ul.group
              li.item.header
                p Defunct Conferences
              li.item
                input(type='checkbox', id='conf-Big-East', ng-click='smallScreenSelectTeam("Conf: Big East")')
                label(for='conf-Big-East') Conf: Big East
              li.item
                input(type='checkbox', id='conf-Big-8', ng-click='smallScreenSelectTeam("Conf: Big 8")')
                label(for='conf-Big-8') Conf: Big 8
              li.item
                input(type='checkbox', id='conf-Big-West', ng-click='smallScreenSelectTeam("Conf: Big West")')
                label(for='conf-Big-West') Conf: Big West
              li.item
                input(type='checkbox', id='conf-Border', ng-click='smallScreenSelectTeam("Conf: Border")')
                label(for='conf-Border') Conf: Border
              li.item
                input(type='checkbox', id='conf-Gulf-States', ng-click='smallScreenSelectTeam("Conf: Gulf States")')
                label(for='conf-Gulf-States') Conf: Gulf States
              li.item
                input(type='checkbox', id='conf-Metro', ng-click='smallScreenSelectTeam("Conf: Metro")')
                label(for='conf-Metro') Conf: Metro
              li.item
                input(type='checkbox', id='conf-MVC', ng-click='smallScreenSelectTeam("Conf: MVC")')
                label(for='conf-MVC') Conf: MVC
              li.item
                input(type='checkbox', id='conf-SIAA', ng-click='smallScreenSelectTeam("Conf: SIAA")')
                label(for='conf-SIAA') Conf: SIAA
              li.item
                input(type='checkbox', id='conf-Southern', ng-click='smallScreenSelectTeam("Conf: Southern")')
                label(for='conf-Southern') Conf: Southern
              li.item
                input(type='checkbox', id='conf-SWC', ng-click='smallScreenSelectTeam("Conf: SWC")')
                label(for='conf-SWC') Conf: SWC
              li.item
                input(type='checkbox', id='conf-WAC', ng-click='smallScreenSelectTeam("Conf: WAC")')
                label(for='conf-WAC') Conf: WAC
            ul.group
              li.item.header
                p FCS
              li.item
                input(type='checkbox', id='conf-FCS', ng-click='smallScreenSelectTeam("Conf: FCS")')
                label(for='conf-FCS') Conf: FCS

        div(class='modal-footer')
          button(type='button', class='btn btn-default', data-dismiss='modal') Done

.footer.align-center
    img(src='images/eagle-2.png', height='50px', width='auto')
    h3 WAR EAGLE
script.
  ga('send', 'pageview', {
    'page': '/stats',
    'title': 'Stats Page'
  });