.container.stat-page-container
  .page-header.align-center
    h1(ng-hide='selectedTeams.length > 0') Auburn Football All-Time Results
    h1(ng-show='selectedTeams.length == 1') Auburn Football All-Time Results vs. {{selectedTeams[0]}} 
    h1(ng-show='selectedTeams.length > 1') Auburn Football All-Time Results vs.
      div(ng-repeat='t in selectedTeams').header-list-team {{t}}
    button(role='button', ng-show='games.length > 0', ng-click='reset()').btn.btn-au#reset Reset <span class="glyphicon glyphicon-refresh top-2px"></span>

  form(ng-cloak, ng-if='!isSmallScreen')#stat-form
    .row
      .col-sm-8.center.no-float.align-center
        label(for='opp-picker').yearLabel Show me Auburn's games against 
      .col-sm-8.center.no-float.align-center.pad-bottom-1em
        select(ng-model='selectedTeams', data-placeholder='Select Opponent(s)', ui-select2, multiple, ng-change='setSelectedTeams(selectedTeams)')#opp-picker
          option(value='ALL-OPP') All Opponents
          optgroup(label='{{c.conference}}', ng-repeat='c in conferences')
            option(value='{{m}}', ng-repeat='m in c.members') {{m}}
          optgroup(label='BCS Conferences')
            option(value='Conf: SEC') SEC
            option(value='Conf: {{c.conference}}', ng-repeat='c in conferences | filter:{bcs:true}') {{c.conference}}
          optgroup(label='FBS Conferences')
            option(value='Conf: {{c.conference}}', ng-repeat='c in conferences | filter:{bcs:false}') {{c.conference}}
          optgroup(label='FCS and Defunct Teams')
            option(value='Conf: FCS') FCS
            option(value='Conf: Defunct') Defunct Teams

    .row
      .col-sm-8.align-center.center.no-float
        label(for='#start-year').yearLabel From 
      .col-sm-8.align-center.center.no-float.pad-bottom-1em
        select(ng-model='startYear', data-placeholder='Select Year', ui-select2, ng-change='setYear(year)')#start-year
          option(value="")
          option(ng-repeat='y in years' value='{{y}}') {{y}}

    .row
      .col-sm-8.align-center.center.no-float
        label(for='#end-year').yearLabel To 
      .col-sm-8.align-center.center.no-float.pad-bottom-1em 
        select(ng-model='endYear', data-placeholder='Select Year', ui-select2, ng-change='setYear(year)')#end-year
          option(value="")
          option(ng-repeat='y in reverseYears' value='{{y}}') {{y}}
    .row.submit-btn
      .col-sm-8.align-center.center.no-float
        button(role='button', ng-click='submitForm()').btn.btn-lg.btn-au Do it <span class="glyphicon glyphicon-circle-arrow-right top-3px"></span>

  form(ng-cloak, ng-if='isSmallScreen')#stat-form
    .row
      .col-sm-8.center.no-float.align-center
        label(for='opp-picker').yearLabel Show me Auburn's games against 
      .col-sm-8.center.no-float.align-center.pad-bottom-1em
        select(ng-model='selectedTeams', multiple='multiple', ng-change='setSelectedTeams(selectedTeams)')#opp-picker-ss
          option(value='ALL-OPP') All Opponents
          optgroup(label='{{c.conference}}', ng-repeat='c in conferences')
            option(value='{{m}}', ng-repeat='m in c.members') {{m}}
          optgroup(label='BCS Conferences')
            option(value='Conf: SEC') SEC
            option(value='Conf: {{c.conference}}', ng-repeat='c in conferences | filter:{bcs:true}') {{c.conference}}
          optgroup(label='FBS Conferences')
            option(value='Conf: {{c.conference}}', ng-repeat='c in conferences | filter:{bcs:false}') {{c.conference}}
          optgroup(label='FCS and Defunct Teams')
            option(value='Conf: FCS') FCS
            option(value='Conf: Defunct') Defunct Teams

    .row
      .col-sm-8.align-center.center.no-float
        label(for='#start-year').yearLabel From 
      .col-sm-8.align-center.center.no-float.pad-bottom-1em
        select(ng-model='startYear', data-placeholder='Select Year', ng-change='setStart(startYear)')#start-year
          option(value="")
          option(ng-repeat='y in years' value='{{y}}') {{y}}

    .row
      .col-sm-8.align-center.center.no-float
        label(for='#end-year').yearLabel To 
      .col-sm-8.align-center.center.no-float.pad-bottom-1em 
        select(ng-model='endYear', data-placeholder='Select Year', ng-change='setEnd(endYear)')#end-year
          option(value="")
          option(ng-repeat='y in reverseYears' value='{{y}}') {{y}}
    .row.submit-btn
      .col-sm-8.align-center.center.no-float
        button(role='button', ng-click='submitForm()').btn.btn-lg.btn-au Do it <span class="glyphicon glyphicon-circle-arrow-right top-3px"></span>
  table(ng-hide='!games.length').table.table-responsive.table-hover#yearly-table
    thead
      tr
        th Date
        th W/L
        th Opponent
        th Score
        th.hidden-xs Location
        th.hidden-xs Attended?
        th.visible-xs Loc
    tbody(ng-cloak)
      tr(ng-repeat='game in games', id='game-row-{{game._id}}', ng-class='didAttend(game._id) ? "attended" : ""', ng-click='smallScreenAttend(game._id)')

        td(ng-if='game.Result === "W"').win {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]+ '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "W"').win {{game.Result}}
        td(ng-if='game.Result === "W"', id='{{game._id + "-opp"}}').win {{game.Opponent}}
        td(ng-if='game.Result === "W"').win {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "W"').win.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "W"').win.hidden-xs.attend-td
          button(ng-if='currentUser && (!didAttend(game._id))', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs
            span.glyphicon.glyphicon-minus
          button(ng-if='currentUser && didAttend(game._id)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs.yes
            span.glyphicon.glyphicon-ok
          button(ng-if='!currentUser', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs.disabled
            span.glyphicon.glyphicon-minus
        td(ng-if='game.Result === "W"').win.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}

        td(ng-if='game.Result === "L"').loss {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]+ '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "L"').loss {{game.Result}}
        td(ng-if='game.Result === "L"', id='{{game._id + "-opp"}}').loss {{game.Opponent}}
        td(ng-if='game.Result === "L"').loss {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "L"').loss.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "L"').loss.hidden-xs.attend-td
          button(ng-if='currentUser && (user.games.indexOf(game) === -1)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs
            span.glyphicon.glyphicon-minus
          button(ng-if='currentUser && (user.games.indexOf(game) !== -1)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs.yes
            span.glyphicon.glyphicon-ok
          button(ng-if='!currentUser', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs.disabled
            span.glyphicon.glyphicon-minus
        td(ng-if='game.Result === "L"').loss.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}

        td(ng-if='game.Result === "T"').tie {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]+ '/' + game.Date.split('-')[0]}}
        td(ng-if='game.Result === "T"').tie {{game.Result}}
        td(ng-if='game.Result === "T"', id='{{game._id + "-opp"}}').tie {{game.Opponent}}
        td(ng-if='game.Result === "T"').tie {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "T"').tie.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "T"').tie.hidden-xs.attend-td
          button(ng-if='currentUser && (user.games.indexOf(game) === -1)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs
            span.glyphicon.glyphicon-minus
          button(ng-if='currentUser && (user.games.indexOf(game) !== -1)', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs.yes
            span.glyphicon.glyphicon-ok
          button(ng-if='!currentUser', ng-click='toggleAttended("{{game._id}}")', id='{{game._id}}').btn.btn-default.btn-xs.disabled
            span.glyphicon.glyphicon-minus
        td(ng-if='game.Result === "T"').tie.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}
  
  h3(ng-show='record.t > 0').align-center Record: {{record.w}}-{{record.l}}-{{record.t}} ({{record.secW}}-{{record.secL}}-{{record.secT}})
  h3(ng-show='record.t === 0').align-center Record: {{record.w}}-{{record.l}} ({{record.secW}}-{{record.secL}})

.footer.align-center
    img(src='images/eagle-2.png', height='50px', width='auto')
    h3 WAR EAGLE