.container  
  .page-header.align-center
    h1 {{year}} Auburn Football Results

  form
    .col-sm-4.center.no-float.align-center.pad-bottom-1em
      select(ng-model='year', data-placeholder='Select Year', ui-select2, ng-change='setYear(year)')#yearpicker
        option(value="")
        option(ng-repeat='y in years' value='{{y}}') {{y}}

  table.table.table-responsive.table-hover#yearly-table
    thead
      tr
        th Date
        th W/L
        th Opponent
        th Score
        th.hidden-xs Location
        th.hidden-xs Attended?
        th.visible-xs Loc
    tbody
      tr(ng-repeat='game in games')
        td(ng-if='game.Result === "W"').win {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]}}
        td(ng-if='game.Result === "W"').win {{game.Result}}
        td(ng-if='game.Result === "W"').win {{game.Opponent}}
        td(ng-if='game.Result === "W"').win {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "W"').win.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "W"').win.hidden-xs Yes / No
        td(ng-if='game.Result === "W"').win.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}
        td(ng-if='game.Result === "L"').loss {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]}}
        td(ng-if='game.Result === "L"').loss {{game.Result}}
        td(ng-if='game.Result === "L"').loss {{game.Opponent}}
        td(ng-if='game.Result === "L"').loss {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "L"').loss.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "L"').loss.hidden-xs Yes / No
        td(ng-if='game.Result === "L"').loss.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}
        td(ng-if='game.Result === "T"').tie {{game.Date.split('-')[1] + '/' + game.Date.split('-')[2]}}
        td(ng-if='game.Result === "T"').tie {{game.Result}}
        td(ng-if='game.Result === "T"').tie {{game.Opponent}}
        td(ng-if='game.Result === "T"').tie {{game.auscore}} - {{game.opscore}}
        td(ng-if='game.Result === "T"').tie.hidden-xs {{game.Location}}
        td(ng-if='game.Result === "T"').tie.hidden-xs Yes / No
        td(ng-if='game.Result === "T"').tie.visible-xs {{game.Location === 'Auburn, AL' ? 'H' : 'A'}}
  
  h2(ng-if='year === 1997 || year === 2000').align-center SEC West Champions
  h2(ng-if='year === 2013 || year === 2010 || year === 2004').align-center SEC Champions
  h1(ng-if='year === 1957').align-center National Champions
  h1(ng-if='year === 2010').align-center BCS National Champions

.footer.align-center
    img(src='images/eagle-2.png', height='50px', width='auto')
    h3 WAR EAGLE